/*-------------------CABEÇALHO------------------- */
header{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid grey;
}
header img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
}

header, p, dl, ul {
    border-radius: 10px;
}

.titulo {
    text-align: center;
    font-family:'Oswald', sans-serif;
    color: gold;
    -webkit-text-stroke: 2px black;
    text-decoration: none;
}
.titulo:hover {
    color: blue;
    transform: scale(1.1);
    -webkit-text-stroke: 1px white;
}
nav {
    display: flex;
    justify-content: center;
}
nav a, .titulo {
    display: inline-block;
    transition: transform .2s cubic-bezier(.37,1.89,59,.73);
}
nav a:hover{ 
   transform: scale(1.1);
   color: gold;
}
nav a:active {
    color: red;
}

ol {
    text-align: center;
    display: inline-block;
    padding-right: 50px;
}
ol a {
    font-size: 15px;
    font-family:'Oswald', sans-serif;
    color:black;
    text-decoration: none;
    margin-bottom: 5px;
}
/*-------------------CORPO-------------------*/
html, body {
    min-height: 100%;
}

body {
   
    background-image: linear-gradient( royalblue, lightgreen, royalblue); 
}

h1 {
    text-align: center;
    font-family:'Oswald', sans-serif;
    color: gold;
    -webkit-text-stroke: 2px black;
    text-decoration: none;
}
h2 {
    font-family:'Oswald', sans-serif;
    text-align: center;
    font-size: 27px;
    color: white;
    -webkit-text-stroke: 1px black;
    
}
main h1 {
    padding: 30px;
} 
main img {
    display: block;
    margin: auto;
    border: 3px solid lightblue;
    border-radius: 10px;
}
.imgnewyork:hover {  
     animation: girando 1s ease-in-out 0s infinite alternate; 
  }
  
  @keyframes girando {
    from {
      transform: rotate(12deg);
    }
    to {
      transform: rotate(-12deg);
    }
  }
p:not(#ref) {
    
    text-align: justify;
    font-family:'Bebas Neue', cursive;
    color: black;
    font-size: 25px;
    border: 2px solid white;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.ulp {
    padding: 5px;
    text-align: justify;
    font-family:'Bebas Neue', cursive;
    color: black;
    font-size: 25px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}

iframe {
    display: block;
    margin: auto;
    border: 3px solid lightblue;
    border-radius: 10px;
}
iframe:hover, main img:hover {
    border: 3px solid gold;
}
#john
{
    margin-top: 50px;
}
/*-------------------RODAPÉ-------------------*/
footer dl {
    border: 2px solid grey;
    background-color: rgba(255, 255, 255, 0.5);
    font-family:'Bebas Neue', cursive;
    text-align: center;
}
dd:hover {
    color: gold;
}
dt:hover {
    color: red;
}

#voltar {
    color: black;
    background-color: rgb(255, 255, 152);
    border-radius: 10px;
    border: 2px solid gold;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px; 
  }
#voltar:hover{
    color: orangered;
}
#legenda {
    
    text-decoration: underline;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}
#legenda:hover {
    color: grey;
}
ul a {
    color: black;
}
ul a:hover {
    color: white;
}
#ref a{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#ref a:hover {
    color: gold;
}
@media (max-width: 600px) {
    body {

        width:90%;
    }
}